[submodule "site-lisp/less-theme"]
	path = site-lisp/less-theme
	url = https://github.com/nobiot/less-theme.git
[submodule "site-lisp/git-email"]
	path = site-lisp/git-email
	url = https://git.sr.ht/~yoctocell/git-email
[submodule "site-lisp/org-fc"]
	path = site-lisp/org-fc
	url = https://git.sr.ht/~l3kn/org-fc
