# Ignore everything
.org-id-locations
auto-save-list/
autosaves/
custom.el
elpa/
network-security.data
projectile-bookmarks.eld
recentf
smex-items
tramp
transient/
url/
init.shit.el

# But not these files...
# !.gitignore
# !LICENSE.md
# !README.md
# !init.el
# !init.org
# !site-lisp
/.cache/
/ccls/
